/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html, body {
  font-family: 'Work Sans', sans-serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.section {
  padding-top:2.5rem;
  padding-bottom:2.5rem;
}
#index-banner {
  color:rgba(195, 55, 0, 0.75);
  min-height: 15rem;
  /*background: url(../media/ship-wheel-profile.jpg) no-repeat top center fixed;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
#index-banner h1 {
  margin-bottom: .25rem;
  /*text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.15);*/
  font-weight: bold;
}
#index-banner .sub-header {
  margin-top: .25rem;
  margin-bottom: 4rem;
}
.test-section {
  color: rgba(0, 0, 0, 0.5);
}
footer.page-footer {
  margin-top: 0;
}
