/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html, body {
  font-family: 'Nunito Sans', sans-serif;
}
.section {
  padding:4rem 0;
}
.brand-logo  img {
  padding-top: 5px;
  max-height: 45px;
  filter: invert(100%);
  transition: opacity .3s ease;
}
.brand-logo:hover  img {
  opacity:0.7;
  transition: opacity .3s ease;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.red.lighten-1 {
  background-color: #e54f4f!important;
}
.m-t-0-25 {
  margin-top: 0.25rem;
}
.m-t-1 {
  margin-top: 1rem;
}
.m-t-2 {
  margin-top: 2rem;
}
.m-t-3 {
  margin-top: 3rem;
}
.m-b-3 {
  margin-bottom: 3rem;
}
.p-tb-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.font-0-75 {
  font-size: 0.75rem;
}
.font-1-25{
  font-size: 1.25rem;
}
.font-2 {
  font-size: 2rem;
}
.font-3 {
  font-size: 3rem;
}
.font-thin {
  font-weight: 200;
}
.font-regular {
  font-weight: 300;
}
.font-bolder {
  font-weight: 600;
}

.index-header {
  color:rgba(245,245,245,0.9);
  font-size: 1.5rem;
  font-weight: 200;
  min-height: 15rem;
}
.index-header h1 {
  font-weight: 800;
  color:rgba(30,30,30,0.6);
  text-transform: uppercase;
  letter-spacing:0.25em;
}
.index-header p {
  margin: 0 auto;
  padding-bottom: 1rem;
  width: 31rem;
  font-size: 1.75rem;
}
.index-header p:first-of-type {
  margin-top: 2.25rem;
}
.skill.countup {
  font-weight: 700;
  margin-left: 1em;
}
.skills-graph {}
.skills-graph dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  position: relative;
  padding: 20px;
}

.skills-graph dt {
  align-self: flex-start;
  width: 100%;
  display: block;
  text-align: center;
  margin-left: 7%;
}

.skills-graph .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2rem;
  width: 90px;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.skills-graph .percentage {
  font-size: 1.25rem;
  line-height: 1;
  width: 100%;
  height: 2rem;
  margin-left: 90px;
  margin-top: 3rem;
}
.skills-graph .percentage:first-of-type {
  margin-top: 0;
}
.skills-graph .percentage:after {
  content: "";
  display: block;
  background-color: #e54f4f;
  width: 50px;
  margin-bottom: 10px;
  height: 35%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  transition: height .3s ease;

  /* cursor: pointer; */
}
.skills-graph .percentage:hover:after {
  height: 65%;
  transition: height .3s ease;
}
.skills-graph .percentage-90:after {
  width: 90%;
}
.skills-graph .percentage-80:after {
  width: 80%;
}
.skills-graph .percentage-70:after {
  width: 70%;
}
.tools a img {
  max-width: 100px;
  margin: 0 auto;
  display: block;
  filter: grayscale(90%);
  opacity: 0.6;
  transition: opacity .3s ease;
}
.tools a:hover img {
  filter: grayscale(0%);
  opacity: 1;
  transition: opacity .3s ease;
}

.page-footer {
  padding-top: 5rem;
}
.page-footer .logo img {
  max-height: 4rem;
  opacity: 0.25;
}
.page-footer .logo p:first-of-type {
  margin-top:0.75rem;
}
.page-footer .logo p {
  margin: 0.25em 0;
  color:rgba(0,0,0,0.35);
}
.page-footer .footer-copyright {
  background:none;
  color:#a6a6a6;
  text-align: center;
  font-size: 0.75rem;
}
